html, body {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin: 0px;
      border: 0;
      /* No floating content on sides */
    }

body {
  overflow-x: hidden;
  max-width: 400px;
}



@media only screen and (max-width: 768px) {
  .container-fluid
  {
    text-align: center;
  }

  .text-box{
    width: 100%
  }

  .nav-bar{
    display: flex;
    flex-wrap: wrap;
  }

  .nav-bar a{
      width: 100%;
      height: 100%;
      background-color: #FF5A09;
  }

  #about_p_width {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  #about_p_width {
    width: 50%;
  }

  .text-box{
    width: 500px
  }

  div.nav-bar a:hover, i:hover {
  color: white !important;
  -webkit-transition:.5s;
  transition:.5s;
}

.footer i:hover {
  color: white !important;
  background-color: #FF5A09;
  -webkit-transition:.5s;
  transition:.5s;
}

#button-container:hover {
  border: solid 2px #FF5A09;
}

#button-container:hover h3 {
  color: #FF5A09
}

#button-container:hover i.fa-arrow-down {
 color: #FF5A09
}
#button-container:hover i.fa-arrow-right {
 color: #FF5A09
}

#donate_btn:hover {
  border: 2px solid #FF5A09;
  -webkit-transition:.2s;
  color: #FF5A09;
  /* ...and now for the proper property */
  transition:.2s;
}

#cli_btn:hover {
  border: 2px solid #FF5A09;
  -webkit-transition:.2s;
  color: #FF5A09;
  /* ...and now for the proper property */
  transition:.2s;
}

#sinatra_btn:hover {
  border: 2px solid #FF5A09;
  -webkit-transition:.2s;
  color: #FF5A09;
  /* ...and now for the proper property */
  transition:.2s;
}

#donate_btn:hover h3 {
  color: #FF5A09;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#cli_btn:hover h3 {
  color: #FF5A09;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#sinatra_btn:hover h3 {
  color: #FF5A09;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

.donate_modal_content a:hover {
  color: #FF5A09;
  -webkit-transition:.5s;
  transition:.5s;
}

#close_button:hover {
  border: solid 2px #FF5A09;
  background-color: #393939;
  -webkit-transition:.5s;
    transition:.5s;
}

.cli_modal_content a:hover {
  color: #FF5A09;
  -webkit-transition:.5s;
  transition:.5s;
}

.sinatra_modal_content a:hover {
  color: #FF5A09;
  -webkit-transition:.5s;
  transition:.5s;
}

.close:hover,
.close:focus {
    color: #FF5A09;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition:.5s;
    transition:.5s;
}

.sinatra_close:hover,
.sinatra_close:focus {
    color: #FF5A09;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition:.5s;
    transition:.5s;
}

#contact_button:hover {
  color: white;
  background-color:#FF5A09;
  border: solid 4px #FF5A09;
  -webkit-transition:.5s;
  transition:.5s;
}





}

div#nav-bar-wrapper {
  height: 36px;
}

div.nav-bar {
  align-items: center;
  display: none;
  top: 0px;
  width: 100%;
  height: 36px;
  background-color: #FF5A09;
  border-bottom: solid 4px #393939; 
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 5px;
}

div.nav-bar a.home, a.projects, a.about, a.contacts {
  display: flex-inline;
  font-size: 20px;
  padding: 10px;
}




i.fa-times, i.fa-bars {
  font-size:2em;
  padding-right:5px;
  padding-left:5px;
  color: #393939;
}

i.fa-arrow-right, i.fa-arrow-down {
  font-size:1em;
  color: white;
  padding-left: 10px;
}




a.projects, a.about, a.home, a.contacts {
  color: #393939;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


h3 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: white ;
}


#first-canvas {
  background-color: #393939;
  overflow-x: hidden;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}


#scroll-btn {
  display: flex;
  min-width: 225px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-250%) translateY(-75%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#tyler-space h1 {
  font-size: 4vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#tyler-space{
  width: 100%;
}

#btn-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#button-container {
  display: flex;
  font-color: white;
  border: solid 2px white;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 75px;
}

#button-container:a {
  color: #FFFFFF;
}

#button-container:h3 {
  color: #FFFFFF;
  text-decoration: none;
}





#about-container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 225px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 99.5%;
}


#about-title-container {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  
}

#about-title-container h1 {
  flex: 1;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%
}


#about-container h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%;
}

#about-container p {
  font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%;
  margin: 5px;
}



.flex-fa-icon-container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 225px;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.flex-fa-icon-container h2 {
  margin: 0px;
}


#about-container i {
  font-size: 5em;
  color: #393939;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-container {
  min-width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.image-container h2 {
  margin: 0px;
}



.my-img-container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 225px;
  flex: 1;
  width: 25%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.graph-img-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 25%;
  min-width: 225px;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.graph-img-container h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%;
}

.graph-img-container p {
 font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%;
  padding-bottom: 10px;
}

.image-container h2 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #393939;
  width: 100%;
}

#graph-legend-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#graph-legend-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#language-icon-one {
  background-color:#393939;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#language-icon-two {
  background-color:#FF5A09;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#language-icon-three {
  background-color:#ec7f37;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#language-icon-four {
  font-color: #393939;
  background-color:#be4f0c;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/*project start section */

.project-container{
  border-top: solid 4px #393939;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 225px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  background-color: #FF5A09;
  padding-top: 100px;
  padding-bottom: 100px;
}


#project-one {
  display: flex;
  width: 50%;
  min-width: 225px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 3px white;
  padding: 50px;
  background-color: #393939;
}


#project-two {
  display: flex;
  width: 50%;
  min-width: 225px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 2px #393939;
  padding: 50px;
  border: solid 3px white;
  background-color: #393939;
}

#project-three {
  display: flex;
  width: 50%;
  min-width: 225px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid 2px #393939;
 padding: 50px;
 border: solid 3px white;
 background-color: #393939;
}

.project-container h1 {
  color: #393939;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}
/* Dark Grey: #393939 Deep Orange: #FF5A09 Light Orange: #ec7f37 Orange Yellow: #be4f0c */


#underline {
  border-bottom: 3px solid black;
}


#image_und {
  border-bottom: 3px solid black;
}

#projects-underline {
  border-bottom: 3px solid #393939;
}


#project-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 100px;
}

#project-one p {
  padding-bottom: 100px;
  color: white;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
#project-two p {
  padding-bottom: 100px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#project-three p {
  padding-bottom: 100px;
  color: white;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

#donate_btn {
  border: white solid 2px;
  text-align: center;
  flex: 1 0;
  justify-content: center;
  padding: 20px;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#sinatra_btn {
  border: white solid 2px;
  text-align: center;
  flex: 1 0;
  justify-content: center;
  padding: 20px;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#cli_btn {
  border: white solid 2px;
  text-align: center;
  flex: 1 0;
  justify-content: center;
  padding: 20px;
  -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#donate_btn h3 {
  padding: 10px;
  margin: 0px;
   -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#cli_btn h3 {
  padding: 10px;
  margin: 0px;
   -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}

#sinatra_btn h3 {
  padding: 10px;
  margin: 0px;
   -webkit-transition:.2s;
  /* ...and now for the proper property */
  transition:.2s;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.donate_modal_content {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #393939;
    background-color: white;
}

.cli_modal_content {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #393939;
}


.sinatra_modal_content {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #393939;
}


}

#donate_modal_list {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

#cli_modal_list {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

#sinatra_modal_list {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

#donate_modal_list li {
  justify-content: left;
  list-style-type: none;
  padding-bottom: 10px;
}

#cli_modal_list li {
  justify-content: left;
  list-style-type: none;
  padding-bottom: 10px;
}


#sinatra_modal_list li {
  justify-content: left;
  list-style-type: none;
  padding-bottom: 10px;
}

#donate_modal_list ul {
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cli_modal_list ul {
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sinatra_modal_list ul {
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.donate_modal_content h1 {
  width: 100%;
  color: #393939;
}

.cli_modal_content h1 {
  width: 100%;
  color: #393939;
}

.sinatra_modal_content h1 {
  width: 100%;
  color: #393939;
}

.donate_modal_content a {
  width: 100%;
  color: #393939;
}

.cli_modal_content a {
  width: 100%;
  color: #393939;
}

.sinatra_modal_content a {
  width: 100%;
  color: #393939;
}

/* The Close Button */
.close {
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: bold;
}


#close_button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 2px white;
  background-color: #393939;
  -webkit-transition:.5s;
    transition:.5s;
}



.sinatra_close {
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: bold;
}



#sinatra_close_button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 2px white;
  background-color: #393939;
  -webkit-transition:.5s;
    transition:.5s;
}

#sinatra_close_button:hover {
  border: solid 2px #FF5A09;
  background-color: #393939;
  -webkit-transition:.5s;
  }

.cli_close {
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: bold;
}


#cli_close_button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 2px white;
  background-color: #393939;
  -webkit-transition:.5s;
    transition:.5s;
}

#cli_close_button:hover {
  border: solid 2px #FF5A09;
  background-color: #393939;
  -webkit-transition:.5s;
  }

.project-label-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-label-title h2 {
  margin: 0;
  padding-bottom: 0;
}

.contact-container {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  background-color: #393939;
  padding-top: 225px;
}

span h1 {
  color: white;
  font-size: 3em; 
  padding-bottom: 10; 
  margin:0;
  font-family: 'Roboto', sans-serif;
}

#contact-title-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
}

#contact-form{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}

#contact_button {
  float: right;
  padding: 10px;
  color: white;
  background-color: #393939;
  border: solid 4px white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.text-box{
  padding: 10px;
}


.footer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.footnote {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-bottom: 20px;
}

.highlight{
  color: #FF5A09;
}
